<div *ngIf="!loggedIn">
  <h1>Access your contacts</h1>
  <form id="formLogin">
    <input #usernameInput id="userId" type="text" placeholder="Enter email">
    <input #passwordInput id="userPassword" type="password" placeholder="Enter password">
    <div *ngIf="errorMessage">
      <p class="error">{{errorMessage}}</p>
    </div>
    <button type="button" (click)="loginUser(usernameInput.value, passwordInput.value)" id="logUser"><span>Login</span></button>
  </form>
</div>

<div *ngIf="loggedIn">
  <h1 class="WelcomeMessage">{{results.user.firstName}}'s contacts</h1>
  <button type="button" (click)="logout()">Logout</button>
  <app-contacts [authToken]="authToken"></app-contacts>
</div>






