<div *ngIf="!loggedIn">
  <h2>Login to see your contacts </h2>
  <form id="formLogin">
    <input #usernameInput id="userId" type="text" placeholder="Enter email">
    <input #passwordInput id="userPassword" type="password" placeholder="Enter password">
    <button type="button" (click)="loginUser(usernameInput.value, passwordInput.value)" id="logUser">Login</button>
  </form>
</div>

<div *ngIf="loggedIn">
  <h2 class="WelcomeMessage">Welcome {{results.user.firstName}}</h2>
  <button type="button" (click)="logout()">Logout</button>
  <app-contacts [authToken]="authToken"></app-contacts>
</div>






